<header class="fixed-nav-bar">
  <div class="header">
    <ul class="main">
     <li class="grow"><a href="/#/login" class="nav-bar" ng-submit="login.doLogout()">Logout</a></li>
     <li class="grow"><a href="/" class="nav-bar">About SCI4H20</a></li>
     <li class="grow"><a href="https://donate.charitywater.org/donate/home" class="nav-bar">Charity: Water</a></li>
    </ul>
  </div>
</header>


<div class="container-background">
  <div class="background">
    <div class="main-row">
      <div class="col-xs-3 col-md-3"></div>
      <div class="col-xs-6 col-md-6 sci">
      <h1> <span class="title1">Join The Initiative To</span> <span class="title2">Provide Clean Water To</span> <span class="title">Everyone</span> </h1>
      </div>
      <div class="col-xs-3 col-md-3"></div>
    </div>
  </div>
</div>

<div class="mid-container">
  <br>
  <br>
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-md-4">
        <div class="clean">
          <div class="clean-image">
          </div>
        </div>
      </div>
      <div class="col-xs-8 col-md-8">
        <h1> Clean water should be a necessity everyone in the world should have access to </h1>
        <h3> Yet ... That is not the case </h3>
      </div>
    </div>
  </div>
    <br>
  <br>
  <br>
  <br>
</div>

<div class="container">
<br>
<br>
<br>

  <div class="row">
    <div class="col-md-1 col-xs-1"></div>
    <div class="col-md-10 col-xs-10">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active" id="pic1">
            <img src="../../public/images/car1.jpg" alt="one">
          </div>

          <div class="item" id="pic2">
            <img src="../../public/images/india1.jpg" alt="two">
          </div>

          <div class="item" id="pic3">
            <img src="../../public/images/uganda1.jpg" alt="three">
          </div>

          <div class="item" id="pic4">
            <img src="../../public/images/car1.jpg" alt="four">
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" data-target="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" data-target="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="col-md-1 col-xs-1"></div>
  </div>
<br>
<br>
<br>
</div>

<h4> ... what to add to make this great</h4>
