<header class="fixed-nav-bar">
  <div class="header">
    <ul class="main">
     <li class="grow"><a href="/#/login" class="nav-bar" ng-submit="login.doLogout()">Logout</a></li>
     <li class="grow"><a href="/" class="nav-bar">About SCI4H20</a></li>
     <li class="grow"><a href="https://donate.charitywater.org/donate/home" class="nav-bar">Charity: Water</a></li>
    </ul>
  </div>
</header>


<div class="container-background">
  <div class="background">
    <div class="main-row">
      <div class="col-xs-3 col-md-3"></div>
      <div class="col-xs-6 col-md-6">
      <h2> BE CREATIVE AND THOUGHTFUL</h2>
      </div>
      <div class="col-xs-3 col-md-3"></div>
    </div>
  </div>
</div>
<br>
<br>
<h1> Clean water should be a necessity everyone in the world should have access to </h1>
<h3> Yet ... That is not the case </h3>

<h4> ... what to add to make this great</h4>
